{% extends "layout/basic.html" %}
{% load static %}
{% load users_tags %}

{% block content %}

<div class="row" style="margin-top: 6em">
    {% profile_menu title %}

<!--    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-3">-->

{% if user_cart %}
    <div class="col">
<!--<div  class="container text-center my-3">-->
<!--    <h1 style="font-size: 20pt; text-align: center;">Ваша корзина:</h1>-->
<!--    <img style="margin-top: 1em;" src="{% static 'vinilboard/корзина-64.png' %}" width="32">-->
<!--</div>-->
<div class="container text-center my-3">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3" style="margin-right:10em">
        {% for album in user_cart %}
        <div class="col ">
            <div class="card" style="background-color:#FF8E73;">
                <a style="margin-top: 0.5em;" href="{{ album.album.get_absolute_url }}"><img src="{{ album.album.photo.url }}" class="card-img-top" alt="{{ album.album.slug }}"/></a>
                <div class="card-body">
                    <p><a style="color: white; font-size: 15pt; text-shadow: 1px 1px 1px black;"
                       href="{{ album.album.get_absolute_url }}"
                       class="card-text">{{ album.album.artist.artist|truncatechars:20 }}</a></p>
                    <p><a style="color: white; text-shadow: 1px 1px 1px black;"
                       href="{{ album.album.get_absolute_url }}"
                       class="card-text">{{ album.album.title|truncatechars:20 }}</a></p>
                    <p style="color: black; font-size: 15pt; font-weight: bold" class="card-text">{{ album.album.price }} руб.</p>
                    <p class="img_cart" style="font-size: 16pt; word-spacing: 10px; ">
                        <a href="{% url 'add_to_cart' album.album.slug 1 %}">
                            <img src="{% static 'vinilboard/icon-plus.png' %}" width="1"></a>
                        {% if album.quantity > 0 %}
                        {{ album.quantity }}
                        <a href="{% url 'add_to_cart' album.album.slug 0 %}">
                            <img src="{% static 'vinilboard/icon-minus.png' %}" width="20"></a>
                        {% else %}
                        {{ album.quantity }}</p>
                        {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
        <div class="row">
            <div class="col">
    <p style="font-size: 20pt;">Сумма Вашего заказа = {{ order_price }} руб.</p>
            </div>
        </div>
            <div class="row">
                <div class="col" style="margin-bottom: 2em">
    <a href="#" class="btn btn-warning">Перейти к оформлению заказа</a>
            </div>
            </div>


    {% else %}
    <div class="col text-center">
        <p style="font-size: 20pt;">Ваша корзина пуста...</p>
<!--        <img style="margin-top: 1em;" src="{% static 'vinilboard/корзина-64.png' %}" width="48">-->
        <p style="margin-top: 1em;" ><a style="margin-top: 1em;" href="{% url 'catalog' %}" class="btn btn-warning">Перейти в каталог</a></p>
    </div>
    {% endif %}
{% endblock %}