{% extends "layout/basic.html" %}


{% block content %}
<div class="container text-center" style="margin-top: 6em">
            <h4 class="mt-3 mb-3">Придумайте новый пароль</h4>
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                <div class="form-row">
                    {% for f in form %}
                        <div class="form-group">
                            <label class="small mb-1" for="{{ fid_for_label }}">{{f.label}}</label>
                            <div style="color: red" class="form-error">{{ f.errors }}</div>
                            {{ f }}
                        </div>

                    {% endfor %}
                </div>
                <div class="form-row">
                    <div class="col-lg-12" style="margin-top: 33px;">
                        <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                    </div>
                </div>
            </form>
    </div>
{% endblock %}